body {
  background-image: url(../images/decors_5.png);
  overflow: hidden;
  max-width: 100%;
  max-height: 100vh;

  display: block;
}
h1 {
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 30px;
  color: grey;
  font-size: 1.2em;
}
span {
  position: absolute;
  left: 800px;
  color: #fff;
}
span a {
  color: gold;
}

#canvas {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
}

#joueur {
  box-sizing: border-box;
  background-image: url(../images/photo_cube1.jpeg);
  /* background-color: hotpink; */
  position: absolute;
  width: 45px;
  height: 57px;
}
/*
#contenu {
  border: solid 1px black;
  background-color: transparent;
  position: absolute;
} */

#cube1 {
  box-sizing: border-box;
  background-color: rgb(64, 0, 128);
  width: 50px;
  height: 35px;
  position: absolute;
}
#cube2 {
  box-sizing: border-box;
  background-color: rgb(64, 0, 128);
  width: 50px;
  height: 50px;
  position: absolute;
}
#cube3 {
  box-sizing: border-box;
  background-color: rgb(64, 0, 128);
  width: 50px;
  height: 50px;
  position: absolute;
}
#cube4 {
  box-sizing: border-box;
  background-color: rgb(64, 0, 128);
  width: 80px;
  height: 80px;
  position: absolute;
}
#cube10 {
  background-color: rgb(205, 205, 205);
  box-sizing: border-box;
  width: 20px;
  height: 5px;
  position: absolute;
}

#cube5 {
  background-color: gray;
  border: solid 2px gray;
  border-radius: 6px;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  color: white;
  width: 70px;
  height: 80px;
  position: absolute;
}
#cube5 h2 {
  position: absolute;
  top: 38px;
  left: 46px;
}
#cube6 {
  background-color: gold;
  border: solid 2px gold;
  border-radius: 6px;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  color: white;
  width: 70px;
  height: 80px;
  position: absolute;
}

#cube6 h2 {
  position: absolute;
  top: 38px;
  left: 46px;
}
#cube7 {
  background-color: cornflowerblue;
  border: solid 2px cornflowerblue;
  border-radius: 6px;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  color: white;
  width: 70px;
  height: 80px;
  position: absolute;
}
#cube7 h2 {
  position: absolute;
  top: 38px;
  left: 46px;
}
#cube8 {
  background-color: mediumpurple;
  border: solid 2px mediumpurple;
  border-radius: 6px;
  box-shadow: 2px 2px 2px grey;
  box-sizing: border-box;
  color: white;
  width: 70px;
  height: 80px;
  position: absolute;
}
#cube8 h2 {
  position: absolute;
  top: 38px;
  left: 46px;
}

#cube9 {
  background-color: grey;
  border: solid 2px grey;
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  color: white;
  width: 200px;
  height: 180px;
  position: absolute;
}
#cube9 p {
  padding: 2.5px;
}
#cube9 button {
  position: absolute;
  top: 140px;
  text-decoration: none;
  left: 150px;
}
button:hover {
  text-decoration: underline;
  color: #ffcc66;
}

button:active {
  background-color: crimson;
}

#cube11 {
  color: black;
  font-weight: bold;
  position: absolute;
  width: 30px;
  height: 30px;
  padding-left: 3px;
}

#cube12 {
  background-color: grey;
  border: solid 2px grey;
  border-radius: 16px;
  box-sizing: border-box;
  color: white;
  width: 500px;
  height: 250px;
  position: absolute;
}
#cube12 h2 {
  text-align: center;
}
#cube12 p {
  color: gold;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}
#cube12 button {
  background-color: red;
  border: solid 1px black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px black;
  color: black;
  font-weight: bold;
  position: absolute;
  left: 230px;
  top: 180px;
  text-decoration: none;
  width: 50px;
  height: 50px;
}
#cube12 button:hover {
  color: #fff;
  background-color: green;
}
#cube14 {
  color: gold;
  position: absolute;
}

#cube15 {
  background-color: rgb(68, 49, 30);
  border: solid 2px grey;
  border-radius: 16px;
  box-sizing: border-box;
  color: white;
  width: 500px;
  height: 300px;
  position: absolute;
}
#cube15 h2 {
  text-align: center;
  color: red;
}
#cube15 p {
  color: gold;
  margin-top: 50px;
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}
#cube15 p :last-child {
  /* color: gold; */
  margin-top: 100px;
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}
#cube15 button {
  background-color: red;
  border: solid 1px black;
  border-radius: 70px;
  box-shadow: 2px 2px 2px black;
  color: black;
  font-weight: bold;
  position: absolute;
  left: 220px;
  top: 200px;
  text-decoration: none;
  width: 70px;
  height: 70px;
}
#cube15 p a {
  color: cornflowerblue;
}
#cube15 p a:hover {
  color: blueviolet;
  text-decoration: none;
}
#cube15 button:hover {
  color: #fff;
  background-color: green;
}
